$prefix-cls: alan-rough-wrap;

.#{$prefix-cls} {
  position: relative;

  &-svg, svg, canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  svg.#{$prefix-cls}-shadow, &-shadow {
    position: absolute;
    z-index: 0;
  }

  &-child,
  &-popover {
    position: relative;
    z-index: $z-10;
  }

  &-right {
    & > svg,
    & > canvas {
      left: -5px;
    }
  }

  &-bottom {
    & > svg,
    & > canvas {
      top: -5px;
    }
  }

  &-popover-wrap {
    z-index: $z-60;
  }

  &-close {
    cursor: pointer;
    z-index: $z-70;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 10px;
  }
}
