$prefix-cls: alan-rough-wrap;

.#{$prefix-cls} {
  svg, canvas {
    position: absolute;
    left: -2px;
    top: -2px;
    z-index: 0;
  }

  &-child, &-popover {
    position: relative;
    z-index: $z-10;
  }

  &-popover {
    color: #F9FAFB;
  }

  &-right {
    svg, canvas {
      left: -5px;
    }
  }

  &-bottom {
    svg, canvas {
      top: -5px;
    }
  }
}