$prefix-cls: rough-wrap;

.#{$prefix-cls} {
  svg, canvas {
    position: absolute;
    left: -2px;
    top: -2px;
    z-index: 0;
  }

  &-child {
    position: relative;
    z-index: $z-10;
  }

  &-right {
    svg, canvas {
      left: -8px;
    }
  }
}