$prefix-cls: alan-tabs;

.#{$prefix-cls} {
  &-nav-wrap {
    display: flex;
    padding: 8px;
    position: relative;

    svg, canvas {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }

  &-nav-item {
    cursor: pointer;
    padding: 8px 16px;
    z-index: $z-70;
    color: #4B5563;
  }

  &-nav-active {
    color: #1F2937;
  }

  &-nav-disabled {
    color: #D1D5DB;
    cursor: not-allowed;
  }

  &-pane {
    display: none;
  }

  &-pane-active {
    display: block;
  }

  &-content {
    padding-top: 15px;
  }
}
