@import 'mixin';
// pointer-events:none
// sass内置lighten()
$prefix-cls: alan-btn;

.#{$prefix-cls} {
  &-base {
    @include button-base;

    &:active {
      transform: scale(0.94);
    }
  }

  &-primary {
    @include button-primary;
  }

  &-standard {
    @include button-standard;
  }

  &-small {
    min-width: initial;
    height: 26px;
    padding: 0 6px;
  }

  &-large {
    min-width: initial;
    height: 48px;
    padding: 0 6px;
  }
}
