@import 'mixin';
// pointer-events:none
// sass内置lighten()
$prefix-cls: btn;

.#{$prefix-cls} {
  &-base {
    @include button-base;
    canvas {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
    }
  }

  &-primary {
    // @include button-primary;
  }

  &-standard {
    @include button-standard;
  }

  &-small {
    min-width: initial;
    height: 26px;
    padding: 0 10px;
  }
}
