@import 'mixin';
// pointer-events:none
// sass内置lighten()
$prefix-cls: btn;

.#{$prefix-cls} {
  &-base {
    @include button-base;
    canvas, svg {
      position: absolute;
      left: -2px;
      top: -2px;
    }

    &:active {
      transform: scale(0.94);
    }
  }

  &-primary {
    @include button-primary;
  }

  &-standard {
    @include button-standard;
  }

  &-small {
    min-width: initial;
    height: 26px;
    padding: 0 6px;
  }

  &-inner-wrap {
    position: relative;
    z-index: 2;
  }
}
