@font-face {
  font-family: Stanberry;
  src: url('./Stanberry.ttf');
}

[class^='alan-'],
[class='alan'] {
  box-sizing: border-box;
  font-family: Stanberry;
}

// sass Partials用法
@import './themes';

@import './utils';

@import './core';

@import '../button/style';

@import '../roughWrap';

@import '../modal';

@import '../spin';

@import '../mask';

@import '../tooltip';

@import '../guide';

@import '../pagination';

@import '../tabs';

@import '../paper';

@import '../checkbox';

@import '../upload';

@import '../input';
