$prefix-cls: alan-timeline;

.#{$prefix-cls} {
  list-style: none;

  li {
    display: flex;
    position: relative;
    align-items: flex-start;

    &:last-child {
      .#{$prefix-cls}-tail {
        display: none;
      }
    }
  }

  &-content {
    min-height: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  &-dot {
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
  }

  &-dot-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-header {
    position: absolute;
    left: 5px;
    transform: translate(-50%);
    background-color: #fff;
  }
}
