$prefix-cls: alan-checkbox;

.#{$prefix-cls} {
  position: relative;
  display: inline-flex;
  align-items: center;

  &-content {
    padding-left: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  &-disabled * {
    color: #ccc;
    cursor: not-allowed !important;
  }

  input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
  }

  &-box {
    cursor: pointer;
  }

  &-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
}
