$prefix-cls: alan-tooltip;

.#{$prefix-cls} {
  &-content {
    padding: 4px 6px;
    min-width: 60px;
    min-height: 24px;
    font-size: 12px;
    color: #F9FAFB;
    text-align: center;
  }

  &-popup {
    position: absolute;
  }
}
